<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre" [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div *ngIf="fg.controls['nombre'].hasError('required')" style="color:red;">Nombre requerido</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidName')" style="color:red;">Nombre inválido</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongName')" style="color:red;">Nombre debe contener minimo {{minLongitud}} caracteres</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen URL</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingrese la URL" [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>